@page
@model CourseMicroservice.Web.Pages.UserProfileModel
@{
    ViewData["Title"] = "User Profile";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Welcome, @User.Identity!.Name</h4>
    <hr />
    <dl class="row">
        
    </dl>
</div>
